<html>
<body>
  <div>Create a <a href="/">new tag</a></div>
 <p> Thanks! Your tag was submitted</p>
  {% if context.get('qr_url', None) %}
  <div>
    <img src="{{ context['qr_url'] }}" />
  </div>
  {% end %}

  <div>
    <h2> Story</h2>
    {% for item in context['tag_items'] %}
 
    {% if item.get('body', None) %}
    <p>{{ item['body'] }}</p>
    {% end %}

    {% if item.get('file', None) %}
    Image:
    <p><img src="{{ item['file'] }}"</p>    
    {% end %}

    {% end %}
  </div>
  
</body>
</html>
