<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Sunlight 2D</title>
        <link rel="stylesheet" href="{{ static_url("stylesheets/main.css") }}" type="text/css" media="screen" />
        
        <script type="text/javascript" src="http://use.typekit.com/rum2sap.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!--[if IE 6]><link rel="stylesheet" href="buggy.css" type="text/css" media="screen" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" href="buggy7.css" type="text/css" media="screen" /><![endif]-->

    </head>
    <body class="home">
        <div id="header">
            <h1><a href="/">Sunlight 2D</a></h1>
        </div>
        <div id="featureBoxWrapper">
            <div id="featureBox">
                <div id="wrapper">
                <ol>
                    <li>Upload Your Story</li>
                    <li>Print a QR Code</li>
                    <li>Share With the Office</li>
                </ol> 
                </div>   
            </div>
        </div>
        <div id="pageMain">
            <div id="ltColumn">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <ul>
                        <li>
                            <label>Attach Text</label>
                            <textarea rows="5" cols="32" name="body"></textarea>
                        </li>
                        <li>
                            <span class="helperText">and/or</span>
                            <label>Upload an Image</label>
                            <input type="file" name="file" />
                        </li>
                        <li>
                            <button class="printBtn" type="submit">
                                <span>Print!</span>
                            </button>
                        </li>    
                    </ul>
                </form>
            </div>  
            <!--
            <div id="rtColumn">
                <h2>Recent Uploads</h2>
                <ul id="recentList">
                    <li>
                        <img src="/static/images/test.jpg"/>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat lacinia odio, ullamcorper facilisis leo suscipit vel. Nulla vel porttitor turpis. Fusce ut libero id neque hendrerit bibendum.</p>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat lacinia odio, ullamcorper facilisis leo suscipit vel.</p>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <img src="/static/images/test.jpg"/>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat lacinia odio, ullamcorper facilisis leo suscipit vel.</p>
                        <div class="clear"></div>
                    </li>    
                </ul>
                <a class="moreLink" href="#">View All</a>
            </div>  
            -->
            <div class="clear"></div> 
        </div>       
    </body>
</html>
