<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Sunlight 2D</title>
        
        <link rel="stylesheet" href="{{ static_url("stylesheets/main.css") }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ static_url("stylesheets/mobile.css") }}" type="text/css" media="mobile" />
        
        <script type="text/javascript" src="http://use.typekit.com/rum2sap.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!--[if IE 6]><link rel="stylesheet" href="buggy.css" type="text/css" media="screen" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" href="buggy7.css" type="text/css" media="screen" /><![endif]-->

    </head>
    <body class="home">
        <div id="header">
            <h1><a href="/">Sunlight 2D</a></h1>
        </div>
        <div id="featureBoxWrapper">
            <div id="featureBox">
                <div id="wrapper">
                  <ol>
                      <li><span>Upload Your Story</span></li>
                      <li><span>Print a QR Code</span></li>
                      <li><span>Share With the Office</span></li>
                  </ol> 
                </div>   
            </div>
        </div>
        <div id="pageMain">
            <div id="ltColumn">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <ul>
                        <li>
                            <label>Attach Text</label>
                            <textarea rows="5" cols="32" name="body"></textarea>
                        </li>
                        <li>
                            <span class="helperText">and/or</span>
                            <label>Upload an Image</label>
                            <input type="file" name="file" />
                        </li>
                        <li>
                            <button class="printBtn" type="submit">
                                <span>Print!</span>
                            </button>
                        </li>    
                    </ul>
                </form>
            </div>  
            

            <div id="rtColumn">
                <h2>Recent Uploads</h2>
                <ul id="recentList">
		    {% for record in recent %}
                    <li>
		        {% if record['contents'][-1].get('file', None) %}
                        <img src="{{ record['contents'][-1]['file'] }}"/>
			{% end %}

			{% if record['contents'][-1].get('body', None) %}
                        <p>{{ truncate_words(record['contents'][-1]['body'], 50, 200) }}</p>
			{% end %}
			<span class="timestamp">
			  <a href="/tag/{{ str(record['_id']) }}">
			  Created 
			  {{ record['contents'][-1]['created'].strftime("%b %d %Y") }}
			  at 
			  {{ record['contents'][-1]['created'].strftime("%I:%M%p") }}
			  </a>
			</span>
                        <div class="clear"></div>
                    </li>
		    {% end %}
                </ul>
                <!-- <a class="moreLink" href="/tags">View All</a> -->
            </div>

            
            <div class="clear"></div> 
        </div>       
    </body>
</html>
