<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Sunlight 2D</title>
        
        {% if context['force_mobile'] %}
          <link rel="stylesheet" href="{{ static_url("stylesheets/mobile.css") }}" type="text/css" media="screen, projection" />
        {% else %}
          <link rel="stylesheet" href="{{ static_url("stylesheets/main.css") }}" type="text/css" media="screen, projection" />
          <link rel="stylesheet" href="{{ static_url("stylesheets/mobile.css") }}" type="text/css" media="mobile" />
        {% end %}
        
        <script type="text/javascript" src="http://use.typekit.com/rum2sap.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!--[if IE 6]><link rel="stylesheet" href="buggy.css" type="text/css" media="screen" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" href="buggy7.css" type="text/css" media="screen" /><![endif]-->

    </head>
    <body class="story">
        <div id="header">
            <h1><a href="/">Sunlight 2D</a></h1>
        </div>
        <div id="pageMain">
            <div id="ltColumn">
                
                {% for item in context['tag_items'] %}
                
                  {% if item.get('file', None) %}
                    <img src="{{ item['file'] }}"</p>
                  {% end %}
                  
                  {% if item.get('body', None) %}
                    <p>
                      {{ item['body'] }}
                    </p>
                  {% end %}
                
                {% end %}
                
            </div>  
            <div id="rtColumn"></div>
            <div class="clear"></div>
        </div>       
    </body>
</html>
