{% extends "base.html" %}

{% block extrajs %}

$(function() {
  setTimeout(function() {
    $('#message').fadeOut("slow");
  }, 1000);
});

{% end %}

{% block body %}
    <body class="story">
        <div id="header">
            <h1><a href="/">Sunlight 2D</a></h1>
        </div>
        <div id="pageMain">
            <div id="ltColumn">
                <div id="spacer">
                    {% if context.get('message', None) %}
                    <span id="message">{{ context['message'] }}</span>
                    {% end %}
                </div>
                <ul class="tagitem">
                    {% for item in context['record']['contents'] %}
                    <li>
                        {% if item.get('file', None) %}
                            <img src="{{ item['file'] }}">
                        {% end %}
                  
                        {% if item.get('body', None) %}
                            <p>
                                {{ item['body'] }}
                            </p>
                        {% end %}
                    </li>  
                    {% end %}
                </ul>
                <div id="append">
                    <h3>Add a New Chapter to this Story...</h3>
                    <form action="/upload" method="post" enctype="multipart/form-data">
		                <input type="hidden" name="id" value="{{ str(context['record']['_id']) }}" >
                        <ul>
                            <li>
                                <label>Attach Text</label>
                                <textarea rows="5" cols="32" name="body"></textarea>
                            </li>
                            <li>
                                <span class="helperText">and/or</span>
                                <label>Upload an Image</label>
                                <input type="file" name="file" />
                            </li>
                            <li>
                              <button class="appendBtn" type="submit">
                                    <span>Append</span>
                                </button>
                            </li>    
                        </ul>
                    </form>
                </div>
            </div>  
            <div id="rtColumn">
                <img src="{{ context['qr_url'] }}" />
            </div>
            <div class="clear"></div>
        </div>       
    </body>

{% end %}
