{% extends "base.html" %}

{% block extrajs %}

$(function() {
  setTimeout(function() {
    $('#message').fadeOut("slow");
  }, 1000);
});

{% end %}

{% block body %}
    <body class="story">
        <div id="header">
            <h1><a href="/">Sunlight 2D</a></h1>
        </div>
        <div id="pageMain">
            <div id="ltColumn">

	      <div id="spacer">
                {% if context.get('message', None) %}
	        <span id="message">{{ context['message'] }}</span>
		{% end %}
   	      </div>

                {% for item in context['tag_items'] %}
                
                  {% if item.get('file', None) %}
                    <img src="{{ item['file'] }}"</p>
                  {% end %}
                  
                  {% if item.get('body', None) %}
                    <p>
                      {{ item['body'] }}
                    </p>
                  {% end %}
                
                {% end %}
                
            </div>  
            <div id="rtColumn"></div>
	    <img src="{{ context['qr_url'] }}" />
            <div class="clear"></div>
        </div>       
    </body>

{% end %}
